.port_display {
  display: flex;
  flex-direction: column;
  width: 25vw;
  text-align: center;
  cursor: pointer;
}
.option {
  display: flex;
  gap: 0.25vw;
  align-items: center;
}
.option_info {
  margin-left: 0.5vw;
  display: flex;
  flex-direction: column;
}
.country {
  margin-left: auto;
  margin-top: auto;
}
.dotarrowright {
  transition: ease-in-out 0.5s;
}
.red {
  color: rgb(255, 94, 94);
}
.submit {
  width: 30vw;
}
.slider {
  width: 15vw;
}
.search {
  margin-bottom: 0.5vw;
}
.row {
  width: 100%;
}
.col {
  width: 5vw;
}
.close {
  margin-left: auto;
}
.portbutton {
  height: 10vw;
  width: 15vw;
  padding: 1vw;
}
.portbutton > span > span {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
