/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--mantine-color-body);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mantine-primary-color-3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--mantine-primary-color-5);
}
